<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Description-->
    <% if (page.description){ %>
        <meta name="description" content="<%= page.description %>">
    <% } else if (config.description){ %>
        <meta name="description" content="<%= config.description %>">
    <% } else if (page.excerpt){ %>
        <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (page.content){ %>
        <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
    <% } %>

    <!--Author-->
    <% if (config.author){ %>
        <meta name="author" content="<%= config.author %>">
    <% } %>

    <!--Open Graph Title-->
    <% if (page.title){ %>
        <meta property="og:title" content="<%= page.title %>"/>
    <% } else { %>
        <meta property="og:title" content="<%= config.title %>"/>
    <% } %>

    <!--Open Graph Description-->
    <% if (page.description){ %>
        <meta property="og:description" content="<%= page.description %>" />
    <% } else if (config.description) { %>
        <meta property="og:description" content="<%= config.description %>" />
    <% } %>

    <!--Open Graph Site Name-->
    <meta property="og:site_name" content="<%= config.title %>"/>

    <!--Type page-->
    <% if(page.title) { %>
        <meta property="og:type" content="article" />
    <% } else { %>
        <meta property="og:type" content="website" />
    <% } %>

    <!--Page Cover-->
    <% if (page.share_cover) { %>
        <meta property="og:image" content="<%= config.url %><%= page.share_cover %>" />
    <% } else if (config.cover) { %>
        <meta property="og:image" content="<%= config.url %><%= config.cover %>"/>
    <% } %>

    <meta name="twitter:card" content="summary" />
    <% if(theme.twitter_handle) { %>
        <meta name="twitter:site" content="<%= theme.twitter_handle %>>" />
    <% } %>
    <script src="//cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="//cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet" />

    <!-- Title -->
    <%
        var title = [];
        if (page.current > 1) title.push(__('page', page.current));
        if (page.title) title.push(page.title);
        if (page.category) title.push(page.category);
        if (page.tag) title.push(page.tag);
        if (page.archive) {
            if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
            else title.push(__('archive_a'));
        }
        title.push(config.title);
    %>
    <title><%= title.join(' - ') %></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Gallery -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.min.css" type="text/css" rel="stylesheet" />

    <!-- Custom CSS -->
    <%- css('css/style.css') %>
    <style>
        .pace .pace-progress {
            background: #66CCFF; /*进度条颜色*/
            height: 3px;
        }
        .pace .pace-progress-inner {
            box-shadow: 0 0 10px #66CCFF, 0 0 5px     #66CCFF; /*阴影颜色*/
        }
        .pace .pace-activity {
            border-top-color: #66CCFF;    /*上边框颜色*/
            border-left-color: #66CCFF;    /*左边框颜色*/
        }
    </style>

    <!-- Custom JS -->
    <% if(page.password) { %>
        <script>
            (function(){
                if (prompt('请输入文章密码') !== '<%= page.password %>'){
                    alert('密码错误！');
                    if (history.length > 1) {
                        window.history.back();
                    } else {
                        window.location.href = 'http://dscdtc.ml/';
                    }
                }
            })();
        </script>
    <% } %>
    <% if(theme.daovoiceid) { %>
        <script>
            (function(i,s,o,g,r,a,m){i["DaoVoiceObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;a.charset="utf-8";m.parentNode.insertBefore(a,m)})(window,document,"script",('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/<%= theme.daovoiceid %>.js","daovoice")
            daovoice('init', {
                app_id: "<%= theme.daovoiceid %>"
            });
            daovoice('update');
        </script>
    <% } %>
    <% if(theme.baidu_verification) { %>
        <meta name="baidu-site-verification" content="ysE6b2D83X" />
    <% } %>
</head>
